/* Custom styling*/

.profile-desktop .mapcontainer {
    height: 350px;
}
@media (min-width: 992px) {
    .profile-desktop .mapcontainer {
        height: 500px;
    }
}

.profile-tablet .mapcontainer {
    height: 450px;
}

.profile-phone .mapcontainer {
    height: 250px;
}

.mapcontainer {
    width: 100%;
}